<app-header titulo="Cazador"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/cpunteria'>Punteria</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/cbestias'>Bestias</ion-button></ion-col> 
            
        </ion-row>
        <ion-row>
            <ion-col size=12><ion-button size="small" color=danger expand=block routerLink='/csupervivencia'>Supervivencia</ion-button></ion-col> 
        </ion-row>
        
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wcazador.png" ></ion-img>
          <ion-card-title>Cazador</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p> Tira y usa la redirección de amenazas, el control de multitudes y principalmente el daño a distancia. Algunos cazadores tienen mascotas que agregan a su DPS, que también permiten conjuros especiales como Renacimiento y heroísmo, y ayudan a controlar el agro. También pueden rastrear, domesticar y entrenar animales y bestias que se encuentran en la naturaleza. La mascota bien entrenada, en innumerables ocasiones, ha salvado la vida de un cazador. Son la única clase que puede nombrar, alimentar y “entrenar” a sus mascotas para tener una de las tres especializaciones.</p>
        </ion-card-content>
      </ion-card>
</ion-content>
