<app-header titulo="Caballero de la Muerte"></app-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/dkprofano'>Profano</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/dkescarcha'>Escarcha</ion-button></ion-col> 
            
        </ion-row>
        <ion-row>
            <ion-col size=12><ion-button size="small" color=danger expand=block routerLink='/dksangre'>Sangre</ion-button></ion-col> 
        </ion-row>
        
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wdk.jpg" ></ion-img>
          <ion-card-title>Caballero de la Muerte</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p>En general, el caballero de la Muerte puede considerarse una clase de combate cuerpo a cuerpo híbrido que combina daño y tanque, algo parecido a guerreros. Usan armadura de placas y pueden usar armas de doble mano o con espadas de dos manos y mazas. Al igual que los druidas y los monjes, cargan sin escudos. Sus mecánicas de tanques incluyen una armadura alta y una alta probabilidad de parar. Los tanques Caballero de la Muerte dependen de una combinación de habilidades de alto daño, además de habilidades de alta amenaza.</p>
        </ion-card-content>
      </ion-card>
</ion-content>
