<app-header titulo="Paladin"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/pproteccion'>Proteccion</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/prepresion'>Represión</ion-button></ion-col>  
        </ion-row>
        <ion-row>
            <ion-col size=12><ion-button size="small" color=danger expand=block routerLink='/psagrado'>Sagrado</ion-button></ion-col> 
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wpaladin.jpg" ></ion-img>
          <ion-card-title>Paladin</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p>El Paladin es una clase híbrida con la capacidad de desempeñar los tres roles principales, incluida la curación, el tanque y el DPS. Además sus bendiciones y sellos que proporcionan útiles aficionados otros jugadores mientras lleva armadura de placas para mitigar en gran medida los daños y fuertes capacidades defensivas. Los paladines son considerados caballeros santos o, en el caso de los elfos de sangre, los caballeros de sangre.</p>
        </ion-card-content>
      </ion-card>
</ion-content>