<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-icon name="book"></ion-icon> Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header style="text-align: center;">
    </ion-card-header>
    <ion-img src="/assets/icon/Guiatbfa.png"></ion-img>
    <ion-card-content >
      <p style="text-align: justify;"> La idea principal de haber hecho esta guía de talentos, es para que los nuevos jugadores puedan aprender de una manera más fácil y sencilla, también está dirigida a los jugadores que tienen años jugándolo porque de alguna manera también olvidan cosas o si quieren aprender una clase nueva aquí pueden aprender de 0% a 100% en poco tiempo. </p>
      <p style="text-align: justify;"> <b> Cualquier sugerencia favor de comentar en la playstore, sin mas que decir espero la aplicacion sea de su agrado.</b> </p>
    </ion-card-content>
  </ion-card>
</ion-content>