<app-header titulo="chamán"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/celemental'>Elemental</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/cmejora'>Mejora</ion-button></ion-col> 
            
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wchaman.jpg" ></ion-img>
          <ion-card-title>chamán</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p>Es una clase híbrida que se especializa en lanzar hechizos ofensivos, infligir daño cuerpo a cuerpo o curar. Como tal, la clase es considerada una de las más adaptables y versátiles. El chamán también puede proporcionar apoyo grupal en forma de tótems estacionarios que, cuando son colocados en el suelo por el chamán, proporcionan beneficios a los miembros del grupo o causan daño a los enemigos.</p>
        </ion-card-content>
      </ion-card>
</ion-content>
