<app-header titulo="Mago"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/marcano'>Arcano</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/mfuego'>Fuego</ion-button></ion-col>  
        </ion-row>
        <ion-row>
            <ion-col size=12><ion-button size="small" color=danger expand=block routerLink='/mescarcha'>Escarcha</ion-button></ion-col> 
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wmago.jpg" ></ion-img>
          <ion-card-title>Mago</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p> El Mago es un lanzador de hechizos cuyo rol es de DPS. Su papel primordial es producir daño y controlar de masas a través de el empleo de polimorfia, dejando provisionalmente los humanoides y bestias en criaturas inofensivas. A niveles superiores, el papel del mago se expande, por el hecho de que muchos encuentros en el juego son bastante difíciles de sin contrahechizo, eliminar maldición y robar hechizo. También incluyen la creación de comestibles y bebidas, la capacidad de teletransporte a las principales capitales.</p>
        </ion-card-content>
      </ion-card>
</ion-content>