<ion-content class="background">
    <ion-item>
        <ion-label style="text-align: center;">
            <strong style="font-size: large;" > {{ Npersonaje }} Battle for Azeroth</strong>
        </ion-label>
    </ion-item>
    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Talentos Miticas+</ion-card-title>
            <ion-img src={{tmiticas}}></ion-img>
        </ion-card-header>
    </ion-card>

    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Talentos Ny’alotha, Ciudad del
                Despertar</ion-card-title>
            <ion-img src={{tbanda}}></ion-img>
        </ion-card-header>
    </ion-card>

    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Estadísticas prioritarias
            </ion-card-title>
            <ion-card-content> <strong>{{EP}}</strong>
            </ion-card-content>
        </ion-card-header>
    </ion-card>


    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Rotaciones</ion-card-title>
            <ion-card-subtitle class="ctexto" color="dark"> <strong>Un Objetivo:</strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> <strong>{{UO}}</strong>
        </ion-card-content>

                <ion-card-subtitle class="ctexto" color="dark"> <strong>Varios Objetivos:</strong></ion-card-subtitle>
        <ion-card-content> <strong>{{VO}}</strong></ion-card-content>
    </ion-card>

    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Poderes de Azerita
            </ion-card-title>
            <ion-card-subtitle style="padding-top: 10px;" color="dark"> <strong>Anillo exterior</strong>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item style="padding-left: 20px !important; background: url({{PA1}}) left center no-repeat;">
                    <ion-label>{{NPA1}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{PA2}}) left center no-repeat;">
                    <ion-label>{{NPA2}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>

        <ion-card-header>
            <ion-card-subtitle color="dark"> <strong>Anillo Interior</strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item style="padding-left: 20px !important; background: url({{PA3}}) left center no-repeat;">
                    <ion-label>{{NPA3}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{PA4}}) left center no-repeat;">
                    <ion-label>{{NPA4}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{PA5}}) left center no-repeat;">
                    <ion-label>{{NPA5}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Esencias
            </ion-card-title>
            <ion-card-subtitle style="padding-top: 10px;" color="dark"> <strong>Mayores</strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item style="padding-left: 20px !important; background: url({{E1}}) left center no-repeat;">
                    <ion-label>{{NE1}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{E2}}) left center no-repeat;">
                    <ion-label>{{NE2}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 20px !important; background: url({{E3}}) left center no-repeat;">
                    <ion-label>{{NE3}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{E4}}) left center no-repeat;">
                    <ion-label>{{NE4}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>

        <ion-card-header>
            <ion-card-subtitle color="dark"> <strong>Menores</strong></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item style="padding-left: 20px !important; background: url({{E5}}) left center no-repeat;">
                    <ion-label>{{NE5}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{E6}}) left center no-repeat;">
                    <ion-label>{{NE6}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{E7}}) left center no-repeat;">
                    <ion-label>{{NE7}}</ion-label>
                </ion-item>
                <ion-item style="padding-left: 18px !important; background: url({{E8}}) left center no-repeat;">
                    <ion-label>{{NE8}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>


    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Corrupción
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item
                    style="padding-left: 20px !important; background: url({{C1}}) left center no-repeat;">
                    <ion-label>{{NC1}}</ion-label>
                </ion-item>
                <ion-item
                    style="padding-left: 18px !important; background: url({{C2}}) left center no-repeat;">
                    <ion-label>{{NC2}}</ion-label>
                </ion-item>
                <ion-item
                    style="padding-left: 20px !important; background: url({{C3}}) left center no-repeat;">
                    <ion-label>{{NC3}}</ion-label>
                </ion-item>
                <ion-item
                    style="padding-left: 18px !important; background: url({{C4}}) left center no-repeat;">
                    <ion-label>{{NC4}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card style="background: transparent;">
        <ion-card-header>
            <ion-card-title class="ion-padding ctexto"
                style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Mejor Equipo(BIS)</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-img src={{EBIS}}></ion-img>
        </ion-card-content>
    </ion-card>

</ion-content>