<app-header titulo="Brujo"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6>
                <ion-button size="small" color=danger expand=block routerLink='/bdemonologia'>Demonologia</ion-button>
            </ion-col>
            <ion-col size=6>
                <ion-button size="small" color=danger expand=block routerLink='/bafliccion'>Afliccion</ion-button>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col size=12>
                <ion-button size="small" color=danger expand=block routerLink='/bdestruccion'>Destruccion</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wbrujo.png"></ion-img>
            <ion-card-title>Brujo</ion-card-title>
        </ion-card-header>

        <ion-card-content style="text-align: justify;">
            <p> puede encender a los enemigos distantes en llamas ardientes, enviarlos a huir con terror y dolor, o
                afligirlos con enfermedades corruptas y maldiciones que roban la vitalidad de la víctima.</p>
            <p>Estos practicantes de lo profano son temidos en todo Azeroth, y muchos de los que han sentido su ira
                ahora prefieren luchar junto a un brujo que contra uno.</p>
        </ion-card-content>
    </ion-card>
</ion-content>