<app-header titulo="Guerrero"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/garmas'>Armas</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/gfuria'>Furia</ion-button></ion-col>  
        </ion-row>
        <ion-row>
            <ion-col size=12><ion-button size="small" color=danger expand=block routerLink='/gproteccion'>Proteccion</ion-button></ion-col> 
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wwar.jpg" ></ion-img>
          <ion-card-title>Guerrero</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p>Mientras ha durado la guerra, los héroes de cada raza han intentado dominar el arte de la batalla. Los guerreros combinan fuerza, liderazgo y un amplio conocimiento de armas y armaduras para crear el caos durante el glorioso combate. Algunos protegen desde las primeras líneas con escudos, bloqueando a los enemigos mientras los aliados apoyan a los guerreros desde detrás con hechizos y arcos. Otros renuncian al escudo y desatan su ira contra la amenaza más próxima con una variedad de armas mortales.</p>
        </ion-card-content>
      </ion-card>
</ion-content>