<app-header titulo="Druida"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/dequilibrio'>Equilibrio</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/dferal'>Feral</ion-button></ion-col>  
        </ion-row>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/dguardian'>Guardin</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/drestauracion'>Restauracion</ion-button></ion-col>
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wdruida.jpg" ></ion-img>
          <ion-card-title>Druida</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p> El Druida es una clase de cambio de forma, híbrido y también una de las clases más versátiles del juego. Al igual que con otros híbridos, los druidas deben especializarse en un solo rol para obtener los mejores resultados. Debido a su necesidad de cambiar de forma para cumplir los roles, solo pueden realizar un rol a la vez; deben cambiar entre las diferentes formas para adaptarse a las situaciones y así adaptarse a la estrategia en la que son requeridos.</p>
        </ion-card-content>
      </ion-card>
</ion-content>