<app-header titulo="Cazador De Demonios"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/dhvenganza'>Venganza</ion-button></ion-col> 
            <ion-col size=6><ion-button size="small" color=danger expand=block routerLink='/dhdevastacion'>Devastacion</ion-button></ion-col> 
            
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-header>
            <ion-img src="/assets/icon/wdh.png" ></ion-img>
          <ion-card-title>Cazador de Demonios</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: justify;">
            <p>En primer lugar, los cazadores de demonios realizan un ritual en el que pierden las facultades de la visión normal a cambio de una visión espectral que les permite sentir mejor su presa. Esta mayor conciencia, junto con su gran agilidad y destreza mágica, hace que los cazadores de demonios sean adversarios impredecibles por lo que un grupo de demonios debería de temer a estos oponentes.</p>
            <p>Los cazadores de demonios tienen un gran arsenal de habilidades por lo que le permite destruir demonios fácilmente, aunque el poder que recorre sus cuerpos también proceda de un lugar similar a estos. Los cazadores de demonios no utilizan armadura pesada, pues valores el moverse ágiles en el terreno, por lo tanto se equipan con algo más ligero. A medida que un cazador de demonios adquiere poder, se vuelve más demonio en apariencia de lo que su forma básica deja ver.</p>
        </ion-card-content>
      </ion-card>
</ion-content>
